*::before, * *::after {
  margin: 0;
  padding: 0; }

html {
  font-size: 63%; }

body {
  box-sizing: border-box;
  margin: 3rem; }

body {
  font-family: "lato", sans-serif;
  line-height: 1.7;
  color: #777; }

.header-primary {
  color: #000;
  font-size: 3rem;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between; }

.week-days {
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between; }

.month-days {
  font-size: 2rem;
  display: flex;
  flex-wrap: wrap; }

.week-day {
  text-align: center;
  padding-bottom: .7rem;
  flex: 0 0 14.28%;
  border-bottom: 1px solid #777; }

.day {
  color: #555454;
  text-align: center;
  flex: 0 0 14.28%;
  height: 8rem; }
  .day--active {
    background-color: #a3f8dc; }
  .day--prev {
    background-color: rgba(218, 253, 241, 0.4); }
  .day--next {
    background-color: rgba(105, 253, 204, 0.4); }

.date-jump > * {
  height: 2.5rem; }

.date-jump input {
  width: 6rem; }

.nav {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  font-size: 3rem;
  font-weight: 700; }
  .nav * {
    cursor: pointer;
    transition: all .2s;
    width: 5rem;
    text-align: center; }
    .nav *:hover {
      transform: scale(1.1);
      background-color: #bbb; }
    .nav *:active {
      transform: scale(1.05);
      background-color: #bbb; }
